These define he number of points awarded to players for their achievements in game.
%br
Points awarded per <b>Kill</b>, <b>Assist</b> and <b>Win</b> are calculated by simply multipling the game score by this value.
%br
<b>Time Spent Dead</b> is different in that the seconds that a player spends dead is divided by this value.