These define the number of points awarded to players for their achievements in game.
%br
Points awarded per <b>Kill</b> and <b>Assist</b> are calculated by multipling the game score by the value below. <b>Win</b> is added or subtracted depending on the game result. The number of seconds the player was dead in game is divided by <b>Time Spent Dead</b> and that result is subtracted from the points total.