- highlight_first_player ||= false

- gameweek_players.each_with_index do |gameweek_player, index|
  - league_gameweek_player = gameweek_player.league_gameweek_players.where(league: @league).first
  .col-xs-12.roster-status-player{id: "player-#{gameweek_player.player.id}", class: ((highlight_first_player && index == 0) ? "active-player-gameweek" : "inactive-player-gameweek")}
    .col-xs-10.roster-status-player-left
      .col-xs-4.roster-status-player-team-logo{data: {id: gameweek_player.player.id}}= team_logo gameweek_player.team, 42
      .col-xs-8.roster-status-player-left
        .roster-status-player-name{data: {id: gameweek_player.player.id}}
          = player_role_icon gameweek_player, 20
          = gameweek_player.player.name
        .roster-status-player-team{data: {id: gameweek_player.player.id}}= gameweek_player.team.name
    .col-xs-2.float-right.roster-status-player-points
      - if league_gameweek_player.present?
        = league_gameweek_player.points