- show_region ||= false

%table.table.table-sm.table-striped
  %thead
    %tr
      %th Name
      - if show_region
        %th Region
      %th Score
      - if can? :update, Roster
        %th{:colspan => "2"}
  %tbody
    - rosters.each do |roster|
      %tr
        %td= link_to roster.name, status_roster_path(roster)
        - if show_region
          %td= roster.region
        %td= roster.score
        - if can? :destroy, roster
          %td= link_to 'Destroy', roster, method: :delete, data: { confirm: 'Are you sure?' }
