%h1 Rosters
- if @my_rosters.any?
  %h2 #{current_user.username}'s Rosters
  = render 'roster_list', rosters: @my_rosters
- else
  %h2 All Rosters
  = render 'roster_list', rosters: @rosters

%br/
- if can? :create, Roster
  = link_to 'New Roster', new_roster_path
