- if @gameweek_players.any?
  .col-xs-2
  .col-xs-10.roster-status-team-details
    .col-xs-5.roster-status-player-details
      = render "roster_status_player_details", gameweek_players: @gameweek_players
- else
  No players in this roster