As a previous user of Rosterpocalypse during Phase 1 of the Heroes of the Storm Global Champoinship, we thought you might be interested to know that we have just launched a fresh set of leagues for Phase 2!

To get started, simply head on over to Rosterpocalypse and join a league to begin drafting your roster: #{leagues_url}

As with the previous season, the highest scoring rosters for the main public leagues will recieve Battle.net gift cards as prizes. We have also made some improvements to the custom league features that you can read about in more detail on our blog: https://medium.com/rosterpocalypse-blog/introducing-the-rosterpocalypse-premium-season-pass-1a478f1b815c