%p Thank you very much for subscribing to Rosterpocalypse Premium! You will now have access to the following advanced league management capabilities:
%ul
  %li customise point allocations for kills, deaths and assists
  %li limit the required player roles
  %li limit the number of players per team allowed in a roster
  %li decide on how many transfers to allow per week
  %li set the initial budget that each player is given

- if @user.manager.trialing?
  %p
    You are currently on a free trial period which will last until
    = Time.at(@user.manager.stripe_subscription["trial_end"]).utc
    \.
    - if @user.manager.stripe_customer_sources.count == 0
      Please ensure that you add a payment method before the end of the trial period.

%p We hope you have a great season playing with us!
