= page_title "Tournaments"

%h1 Active Tournaments
= render "tournaments_list", tournaments: @tournaments.where("end_date > ?", Time.now)

%h1 Completed Tournaments
= render "tournaments_list", tournaments: @tournaments.where("end_date < ?", Time.now)

%br/
- if can? :create, Tournament
  = link_to 'New Tournament', new_tournament_path
