.jumbotron
  .container
    %h1.display-3 Prepare for the Rosterpocalypse!
    %p.lead


.container
  .row
    .col-md-4
      .card
        = image_tag "DraftTeam.png", class: "info-box-image"
        .card-block
          %h4.card-title Draft Your Roster
          %p.card-text Get started by creating a roster of the best players in one of the 4 HGC regions. Choose wisely as you have a limited pool of points to work with and only one transfer available every week.
          %a.btn.btn-primary{href: new_roster_path, role: "button"} Create a Roster &raquo;


    .col-md-4
      .card
        = image_tag "HGC_Leagues.png", class: "info-box-image"
        .card-block
          %h4.card-title Join a League
          %p.card-text Join the public league for each tournament and also create your own private leagues to compete with a smaller group of friends. Private leagues are hidden, but not restricted. To invite a friend to join your private league simply send them the link to it.

    .col-md-4
      .card
        = image_tag "gold.gif", class: "info-box-image"
        .card-block
          %h4.card-title Win Prizes!
          %p.card-text To add a little extra incentive, at the end of the season, the top scoring rosters of each public league will win exciting prizes in the form of heroes, bundles or battle.net gift cards.
          %p.card-text The Rosterpocalypse will be streamed!