.jumbotron
  .container
    %h1.display-3 Build the best Heroes eSports team!
    %p Build your dream team from the best professional Heroes of the Storm players to win honour and glory! Choose your roster wisely since you only have a limited pool of points to work with and make sure to keep up with the latest news and results to fine tune your team every week.
    %p
      %a.btn.btn-primary.btn-lg{href: "#", role: "button"} Learn more &raquo;



.container
  .row
    .col-md-4
      %h2 Top Players
      %table.table.table-sm.table-striped
        %thead
          %tr
            %th Name
            %th Score
        %tbody
          %tr
            %td Fuzz
            %td 1024
          %tr
            %td Waze
            %td 768
          %tr
            %td Clos
            %td 654
          %tr
            %td Buzz
            %td 592
          %tr
            %td Fuzz
            %td 431
      %p
        %a.btn.btn-secondary{href: "#", role: "button"} View more &raquo;

    .col-md-4
      %h2 Top Fantasy Teams
      %table.table.table-sm.table-striped
        %thead
          %tr
            %th Name
            %th Score
        %tbody
          %tr
            %td Fuzzy's Boys
            %td 10324
          %tr
            %td Plantains
            %td 8768
          %tr
            %td Meerkats
            %td 7654
          %tr
            %td Gin & Juice
            %td 5492
          %tr
            %td Hatters
            %td 4331
      %p
        %a.btn.btn-secondary{href: "#", role: "button"} View more &raquo;

    .col-md-4
      %h2 Upcoming Games
      %table.table.table-sm.table-striped
        %thead
          %tr
            %th Teams
            %th Date
        %tbody
          %tr
            %td Liquid vs Fnatic
            %td 21/11/2016
          %tr
            %td Epunks vs Dignitas
            %td 25/11/2016
          %tr
            %td Denial vs Naventic
            %td 31/11/2016
          %tr
            %td MVP Black vs Tempest
            %td 02/12/2016
          %tr
            %td eStar vs ZeroPanda
            %td 05/12/2016
      %p
        %a.btn.btn-secondary{href: "#", role: "button"} View more &raquo;
