.jumbotron
  .container
    %h1.display-3 Rosterpocalypse 2.0
    %p.lead


.container
  .row
    .col-md-4
      .card
        = image_tag "HGC_Leagues.png", class: "info-box-image"
        .card-block
          %h4.card-title Join a League
          %p.card-text Join a league to begin drafting your roster of 5 players. Manage your team over the course of the season by transfering players in and out every week. Choose wisely as you have a limited pool of points to spend on acquiring players and player values will change over the course of the season.
          %a.btn.btn-primary{href: leagues_path, role: "button"} Find a League &raquo;

    .col-md-4
      .card
        = image_tag "DraftTeam.png", class: "info-box-image"
        .card-block
          %h4.card-title Premium Season Pass
          %p.card-text Creating private leagues with standard rules is free. If you would like to create private or public leagues with different rule-sets the Premium Season Pass is for you. Create an all Support league, or one where wins give negative points, or allow players to change their entire team every week! Your league, your rules.
          %a.btn.btn-success{href: leagues_path, role: "button"} Sign Up with a free trial &raquo;

    .col-md-4
      .card
        = image_tag "gold.gif", class: "info-box-image"
        .card-block
          %h4.card-title Win Prizes!
          %p.card-text To add a little extra incentive, at the end of the season, the top scoring rosters of the main Rosterpocalypse-run public leagues will win exciting prizes in the form of heroes, bundles or Battle.net gift cards.