= page_title "About"

%h1#about About
%p Rosterpocalypse is a Heroes of the Storm fantasy eSports team building website which allows you to create and manage your own rosters of 5 professional players over the course of the 4 main regional tournaments in the Heroes of the Storm Global Championship circuit. Watch

%h1#faq FAQ
%p Coming soon...

%h1#tos Terms of Service
%p Coming soon...

%h1#privacy policy
%p Coming soon...