= page_title "About"

%h1 About
%p Rosterpocalypse is a Heroes of the Storm fantasy team building website which allows you to build and manage your own team of 5 professional players and compete with other players to rack up the most points over the course of the Heroes of the Storm Global Championship circuit.

%h2 FAQ
%p Coming soon...