@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "font-awesome";
@import "rosters";
@import "roster_status";
@import "games";
@import "about";

@font-face {
  font-family: "3rd Man Regular";
  src: asset-url('3rdMan.eot');
  src: asset-url('3rdMan.svg#3rdmanregular') format('svg'),
       asset-url('3rdMan.eot?#iefix') format('embedded-opentype'),
       asset-url('3rdMan.woff') format('woff'),
       asset-url('3rdMan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo-image {
  filter: invert(100%) brightness(200%);
}

.brand-name {
  font-family: "3rd Man Regular";
  font-size: 25px;
  padding: 0em;
  padding-right: 0.4em;
}

.info-box-image {
  height: 180px;
  width: 100%;
}

.oauth-login-links {
  text-align: center;
  line-height: 3em;
}

.compact-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.compact-form .form-heading,
.compact-form .checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.compact-form .checkbox {
  font-weight: normal;
}
.compact-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.compact-form .form-control:focus {
  z-index: 2;
}
.compact-form input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.roster-form {
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
  width: 80%;
}

.facebook-blue {
  color: #3b5998;
}

.twitter-blue {
  color: #55acee;
}

.reddit-red {
  color: #ff4500;
}

.google-plus-red {
  color: #dd4b39;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.login-fine-print {
  padding-top: 1.5em;
}
