@import "bootstrap";
@import "font-awesome";
@import "rosters";

.form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form .form-heading,
.form .checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form .checkbox {
  font-weight: normal;
}
.form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form .form-control:focus {
  z-index: 2;
}
.form input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.roster-form {
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
}