@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "font-awesome";
@import "rosters";
@import "games";

.compact-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.compact-form .form-heading,
.compact-form .checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.compact-form .checkbox {
  font-weight: normal;
}
.compact-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.compact-form .form-control:focus {
  z-index: 2;
}
.compact-form input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.roster-form {
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.facebook-blue {
  color: #3b5998;
}

.twitter-blue {
  color: #55acee;
}

.reddit-red {
  color: #ff4500;
}

.google-plus-red {
  color: #dd4b39;
}