.gameweek-stats-top-section {
  padding-top: 1em;
  padding-bottom: 2em;
}

.gameweek-stats-top-section-heading {
  text-align: center;
  padding-bottom: 0.3em;
}

.dream-team-no-data-message {
  text-align: center;
}