.roster-status-page {
  width: 80%;
}

.roster-status-header {
  padding: 1.1em;
  text-align: center;
  display: flex;
}

.roster-status-heading {
  font-size: 2.5em;
  font-weight: bold;
}

.roster-status-no-data-placeholder {
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding: 2em;
}

.roster-status-gameweek-navigation {

}

.roster-status-team-details {
  padding: 1em;
}

.roster-status-gameweek-summary {
  padding: 1em;
}

.roster-status-player-details {
  padding: 1em;
  background-color: $lightgray
}

.roster-status-player-stats {
  text-align: center;
}

.roster-status-gameweek-details {
  padding: 0em;
}

.roster-status-gameweek-points {
  text-align: center;
}

.roster-status-gameweek-points-title {
  font-weight: bold;
}

.roster-status-gameweek-points-total {
  font-weight: bold;
  font-size: 2.8em;
  color: red;
}

.roster-status-gameweek-stats {
  text-align: left;
}

.roster-status-gameweek-stat-name {
  padding: 0.2em;
}
.roster-status-gameweek-stat-value {
  padding: 0.2em;
  text-align: center;
}

.roster-status-player-no-games-placeholder {
  font-weight: bold;
  padding: 0.9em;
  background-color: white;
}

.active-player-gameweek {
  background-color: $lightgray;
}
.inactive-player-gameweek {
  background-color: white;
}

.roster-status-player {
  padding-left: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.roster-status-player-left {
  padding-left: 0em;
}

.roster-status-player-name {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.roster-status-player-team-logo {
  cursor: pointer;
}

.roster-status-player-team {
  width: 100%;
  font-weight: lighter;
  font-size: 12px;
  cursor: pointer;
}

.roster-status-player-points {
  font-size: x-large;
  font-weight: bold;
  text-align: right;
  padding: 0em;
}

.roster-status-player-game-details {
  width: 100%;
  font-size: 14px;
  padding: 1em;
}

.roster-status-player-game-details-title {
  background-color: white;
  padding: 0em;
}

.roster-status-player-game-details-map {
  font-weight: bold;
  padding: 1em;
  cursor: pointer;
}

.roster-status-player-game-details-points {
  font-weight: bold;
  padding: 1em;
  text-align: right;
}

.roster-status-player-game-details-points-breakdown {
  font-size: small;
  padding-top: 1em;
  display: none;
}

.roster-status-player-game-details-bonus {
  padding-bottom: 1em;
}