// Place all the styles related to the rosters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #0077dc;
$gray: #8e8e8e;

i.roster-change {
  cursor: pointer;
}
.reactable-pagination {
  text-align: center;
}

.custom-pagination {
  text-align: left;
  display: inline-block;
}

.custom-pagination > .reactable-current-page {
    color: #fff;
    cursor: default;
    background-color: $blue;
    border-color: $blue;
}

.custom-pagination > a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.custom-pagination > a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right-width: 1px;
}

.custom-pagination > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: $blue;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-width: 0px;
}

.pagination-page-selector {
  float: right;
  padding-top: 2em;
}

.pagination-page-selector select {
  height: 30px;
  width: 80px;
  background-color: white;
}

.clear-filter {
  position: absolute;
  right: 8px;
  top: 2em;
  bottom: 0;
  height: 10px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: $gray;
}

.table-filter {
  padding-top: 2em;
}

.table-filter-input {
  text-indent: 10px;
  width: 17em;
}

.table-filter-link {
  padding: 0px;
  color: #000;
}

.roster-pick-notification {
  padding-left: 10px;
}