%h3 Rosterpocalypse Premium
%p
  Buy a
  %b premium season pass
  to support the site and enable awesome league customization features, including:
%ul
  %li customise per-role point allocations for kills, deaths and assists
  %li specify the minimum required player roles in the roster (e.g. 1 warrior and 1 support)
  %li limit the number of players per team allowed in a roster
  %li decide on how many transfers to allow per week
  %li set the initial budget for rosters in the league
  %li create and manage Public leagues, accessible by all users
