%meta{name: "twitter:card", content: "summary_large_image"}
%meta{name: "twitter:site", content: "@rosterpocalypse"}
%meta{name: "twitter:creator", content: "#{roster.manager.sanitized_name}"}
%meta{name: "twitter:title", content: "#{roster.manager.sanitized_name}'s Rosterpocalypse roster"}
%meta{name: "twitter:description", content: "#{roster.manager.sanitized_name}'s Rosterpocalypse roster for #{roster.league.name}"}
%meta{name: "twitter:image", content: players_roster_url(roster, format: "png")}
