Hi #{@user.username}!

= yield

If you have any questions feel free to reach out to us directly via email at rosterpocalypse@gmail.com or on Twitter: https://twitter.com/rosterpocalypse

Cheers!
Rosterpocalypse